/* *{
  border: 1px solid
} */

h1 {
  text-align: center;
  color: white;
}

body {
  position: relative;
  background-color: rgb(77, 74, 90);
}

.container {
  /* float: left; */
  position: relative;
  margin-left: 5%;
  margin-right: 5%;

}

.column{
  float: left;
  width: 27%;
  padding: 20px;
}


.animal {
  text-align: center;
  height: 300px;
  width: 100%;
  background-color: #D3C9FF;
  color: black;
  margin: 10px 0;
  border: 5px solid black;
  border-radius: 15px;
  position: relative;

}

img {
  max-width: 90%;
  max-height: 200px;
  margin: auto;
}